<!--<form (submit)="onSubmit()">-->
<!--<p-growl [value]="msgs" sticky="sticky"></p-growl>-->

<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value, $event)">
  <p-panel header="Submit parameters">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row" style="margin: 10px 0px">
        <div class="ui-grid-col-12">
          <p-dropdown [options]="categs" formControlName="categs" [autoWidth]="false" #c
                      (onChange)="categoryChanged(c.value.id)"></p-dropdown>
        </div>
      </div>
      <div class="ui-grid-row" style="margin: 10px 0px">
        <div class="ui-grid-col-12">
          <p-dropdown [options]="subcategs" formControlName="subcategs" [autoWidth]="false" #s
                      (onChange)="subcategoryChanged(s.value.id)"></p-dropdown>
        </div>
      </div>
      <div class="ui-grid-row" style="margin: 10px 0px">
        <div class="ui-grid-col-12">
          <p-dropdown [options]="indi" formControlName="indi" [autoWidth]="false"></p-dropdown>
        </div>
      </div>
      <!--<div class="ui-grid-row" style="margin: 10px 0px">
        <div class="ui-grid-col-12">
          <p-dropdown [options]="genders" formControlName="genders" [autoWidth]="false"></p-dropdown>
        </div>
      </div>-->
      <div class="ui-grid-row" style="margin: 10px 0px">
        <div class="ui-grid-col-12">
          <input type="text" pInputText formControlName="fromYear" style="width: 100%;"/>
        </div>
      </div>
      <div class="ui-grid-row" style="margin: 10px 0px">
        <div class="ui-grid-col-12">
          <input type="text" pInputText formControlName="toYear" style="width: 100%;"/>
        </div>
      </div>
      <div class="ui-grid-row" style="margin: 10px 0px">
        <gexp-countries-list [countries]="countries" (countrySelected)="countrySelected($event)" class="ui-grid-col-12"></gexp-countries-list>
      </div>
      <div class="ui-grid-row" style="margin: 10px 0px">
        <button pButton type="submit" (onClick)="onSubmit(userform.value, $event)" label="Get data"
                [disabled]="!userform.valid" style="padding: 1rem;"></button>
      </div>
    </div>
  </p-panel>
</form>
